/*CSS style for term project by Ellie Veenhof*/
body {
    background-color: #fof38D;
}
#top {
    background-color: #00A896;
}
h1 {
    text-align: center;
    color: #04415A;
}
/*this colors the heading text in the center of the page with the text color #04415A*/
